@import "../../../mixin.scss";
:host{
    margin-right: 20px;
    margin-left: 20px;
    width: 15vw;
    background-color: usecolor(basic_dark);
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0px -13px 14px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -13px 14px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -13px 14px 1px rgba(34, 60, 80, 0.2);
    transition: transform 0.3s ease;
    
}
:host:hover{
    opacity: 0.9;
    box-shadow: 0px -13px 14px 1px rgba(18, 31, 41, 0.2);
}
:host:active{
    opacity: 0.8;
}
.conatiner-img{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
}
.container-info{
    overflow-y: hidden;
    padding-right: 5px;
    padding-bottom: 5px ;
    height: 6vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-info-rating{
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-radius: 0px 0px 8px 8px; 
}
.container-info-title{
    text-align: center;
    text-decoration: underline;
    text-overflow: clip;
    color: usecolor(for_font_light);
}
.container-info-button-like{
    border: none;
    background-color: black;
    border-radius: 20px;
    width: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.container-info-button-like:active{
    background-color: plum;
    // think about move button on tooltip

}

.container-info-button-like i {
    color: usecolor(basic_dark);
}