.container{
    background-color: #D2CFC9;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;

}
.title h3{
    font-weight: 700;
}
.title img{
    margin-top: 7px;
}
.radio_group{
    background-color: #D9D9D9;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}
.radio_group_item_login::after{
    content: '';
    position: relative;
    top: 10px;
    left: 5px;
    border: 1px solid;
    height: 30px;
    display: inline-block;
}