.container-for-central-img {
  display: flex;
  justify-content: start;
  margin-bottom: 2px;
  max-width: 740px;
  max-height: 420px;
}
.central-img {
  width: 100%;
  height: 40%;
}
.active-img,
.passive-img {
  margin-right: 5px;
  cursor: pointer;
}
.active-img {
  border: solid 5px;
  border-color: rgb(98, 222, 253);
}
