@import '../../../mixin.scss';

.title{
    color: usecolor(for_font_light);
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.list-hints{
    position: absolute;
    list-style: none;
    width: 30%;
    top: 65px;
    left: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 0;
    background-color: #848077;
}
.list-hints-el{
    margin-bottom: 5px;
    padding: 10px;
}
.list-hints-el:hover{
    cursor: pointer;
    background-color: #938F86;
}
.list-hints-el:active{
    background-color: #86847d;
}
.title:hover{
    background-color: rgb(189, 189, 189)
}