:host {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 100%;
}
.group{
    list-style: none;
    display: flex;
}
.active-el{
    display: block;
}
.passive-el{
    background-color: red;
    display: none;
}