@import "../../../mixin.scss";
:host {
  // background-color: #c9c6be;
  position: absolute;
  opacity: 1;
  background-color: #c9c6be;
}
.tooltip {
  display: flex;
  background-color: #c9c6be;
  flex-direction: column;
  opacity: 1;
  margin: 0;
  padding-bottom: 10px;
}
.tooltip__title {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  height: 10vh;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.add-info {
  display: flex;
  opacity: 1;
  margin: 0;
  background-color: #c9c6be;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0px;
}
.tooltip__genre,
.tooltip__date {
  margin-right: 10px;
}
.tooltip__genre p,
.tooltip__date p {
  margin: 0;
}
.tooltip__title h4 {
  font-size: 18px;
  margin: 0;
  font-family: usefont(basic);
}
.tooltip__img {
  height: 20vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #c9c6be;
}
.tooltip__description {
  border-radius: 0px 0px 20px 20px;
  background-color: #d9d9d9;
  padding: 5px;
}
.tooltip__description p {
  width: 90%;
  margin: 0;
}
