:host {
  display: flex;
  background-color: rgb(0, 0, 0);
  border-radius: 10px 10px 0px 0px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
.left-button {
  margin: 0;
}
.right-button {
  margin: 0;
}
.images {
  list-style: none;
  width: 100%;
  display: flex;
}
.images__item__active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.images__item__passive {
  display: none;
}
