<div class="slider">
  <ng-container 
  [ngTemplateOutlet]="buttonSlider" 
  [ngTemplateOutletContext]="{ rotate: 0, offset: -1 }"/>
<div class="box">
@for(so of objects();track so.id){
    @if(centerIndex() === so.id){
     <app-game-component [imageLink]="so.imageLink" [isCenter]="true" [rating]="so.rating" [title]="so.title"/>
    }
    @else {
     <app-game-component [imageLink]="so.imageLink" [isCenter]="false" [rating]="so.rating" [title]="so.title"/>
    }

}
</div>
<ng-container 
  [ngTemplateOutlet]="buttonSlider" 
  [ngTemplateOutletContext]="{ rotate: 180, offset: 1 }"/>

<ng-template #buttonSlider let-offset="offset" let-rotate="rotate">
  <div class="button-container">
    <button class="slider-button" type="button" (click)="calculateTransform(offset)" >
      <i class="fa-solid fa-arrow-left" [style.transform]="`rotate(`+rotate+`deg`+`)`"></i>
    </button>
    </div>
</ng-template>
</div>

