@import "../../../mixin.scss";
:host {
  background-color: #c9c6be;
  width: 200px;
  /*  width equal with img   */
  padding-bottom: 50px;
  position: absolute;
  top: 10px;
  left: 250px;
  z-index: 3;
  border-radius: 0px 0px 20px 20px;
}
.tooltip__title {
  display: flex;
  position: relative;
  z-index: 3;
  justify-content: start;
  align-items: end;
  width: 100%;
  height: 10vh;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.tooltip__title::after {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  /*  z-index donesn t work :(   */
  top: 20px;
  right: 180px;
  width: 36px;
  height: 36px;
  background-color: #c9c6be;
  transform: rotate(40deg);
}
.add-info {
  display: flex;
}
.tooltip__genre,
.tooltip__date {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 2px;
}
.tooltip__title h4 {
  font-size: 18px;
  margin: 0;
  font-family: "Inter";
}
.tooltip__img {
  width: 200px;
  height: 100px;
}
.tooltip__description {
  background-color: #d9d9d9;
}
.tooltip__description p {
  width: 90%;
  margin: 0;
}
