@import "../../../mixin.scss";

.info {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  background-color: usecolor(basic);
  width: 350px;
}
.info__title {
  display: flex;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
  font-family: usefont(basic);
  background-color: #9c9b91;
  height: 4vh;
  width: 30%;
  border-radius: 10px;
}
.info__title h4 {
  font-family: usefont(basic);
}
.button_like {
  margin-right: 10px;
  border-radius: 10px;
  border: none;
}
