@import "../../../mixin.scss";

:host{
    background-color: usecolor(basic);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    height: 80px;
    padding-right: 20px;
    padding-left: 30px;
    box-sizing: border-box
}
.right-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.right-part-hints{
    display: flex;
    flex-direction: row;
}
.left-part{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-part button{
    background-color: usecolor(for_button_auth);
    width: 50px;
    height: 50px;
    border: none;
    opacity: 1;
    border-radius: 30px;
}
.left-part button:hover{
    cursor: pointer;
    background-color: usecolor(for_button_auth);
    opacity: 0.8;
}
.left-part button:active{
    background-color: usecolor(for_button_auth);
    opacity: 0.4;
}
.left-part button i {
    color: white;
    font-size: 24px;
}
app-search-bar-component{
    margin-right: 10%;
}
app-title-hints-component{
    margin-right: 30px;
}  

