:host{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.slider{
    display: flex;
    background-color: rgba(228, 224, 216, 0.51);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
