:host {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-button {
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icon-button:hover {
  opacity: 0.8;
}
.icon-button:active {
  opacity: 0.6;
}
