:host {
  display: flex;
  flex-direction: row;
}
.slider-bar {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
}
.slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 30px;
  background: #b1a894;
  border-radius: 20%;
  cursor: pointer;
}
/* Firefox */
.slider-bar::-moz-range-thumb {
  height: 20px;
  width: 30px;
  background: #b1a894;
  border-radius: 20%;
  cursor: pointer;
}
.slider-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: #938f86;
  border-radius: 4px;
}
/* Firefox */
.slider-bar::-moz-range-track {
  width: 100%;
  height: 20px;
  background: #938f86;
  border-radius: 4px;
}
