@import url('../../assets/global/_fonts.scss');
@import url('../../assets/global/_variable.scss');
:host{
    background-color: $base-color;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
