<app-slider-button-component
  side="LEFT"
  [rotate]="0"
  [offset]="-1"
  (slideChange)="calculateTransform($event)"
  class="left-button"
></app-slider-button-component>
<div class="container">
  <ul class="images">
    @for (img of images(); track img.id) { @if(isActive(img.id)) {
    <li class="images__item__active">
      <img
        [src]="img.path_full"
        [style.width.px]="width()"
        [style.height.px]="height()"
        alt="#"
      />
    </li>
    } @else {
    <li class="images__item__passive">
      <img
        [src]="img.path_full"
        [style.width.px]="width()"
        [style.height.px]="height()"
        alt="#"
      />
    </li>
    } }
  </ul>
</div>
<app-slider-button-component
  side="RIGHT"
  [rotate]="180"
  [offset]="1"
  (slideChange)="calculateTransform($event)"
  class="right-button"
></app-slider-button-component>
